.cart-items-container{
margin-bottom: 40px;
}
.cart-items{
display: flex;
width: 800px;
margin-left: 150px;
gap: 150px;
align-items: center;
margin-top: 30px;
}
.cart-image{
    height: 100px;
}
.cart-product-price{
    margin-left: 40px;
}
.subtotal-price{
margin-left: 2px;
}
