.personal-information-container {
  width: 900px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 350px;
  right: 100px;
}
.personal-information {
  border: 1px solid rgb(197, 196, 196);
  border-radius: 20px;
  width: 300px;
}
.personal-info-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.personal-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-information {
  width: 300px;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 20px;
}
.contact-info {
  display: flex;
  gap: 30px;
}